{% if view != 'reduced' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ warehouse.name }} | склад</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        html,body{
            background-color: #212529;
            font-size: 1.7rem;
        }
        body{
            padding-top: 0.2em;
        }
        td.itemCaption{
            width: 25%;
            letter-spacing: 0.15em;
        }
        .itemCaptionSmall{
            letter-spacing: 0.15em;
            color: #999;
            text-align: right;
            padding-right: 1em;
        }

        tr.itemAlert td{
            transition: background-color 0.4s ease;
            background-color: #a72a0f !important;
        }

        tr.itemAlert.alertOn td{
            transition: background-color 0.4s ease;
            background-color: #611a1d !important;
        }
        tr.green td{
            background-color: #145428;
        }
        .extraQueue{
            font-size: 0.8em;
        }
    </style>
</head>
<body>

<div class="container-fluid" id="container-main" data-src="{{ path_for('warehouse', {'uuid':warehouse.uuid, 'view':'reduced'}) }}">
{% endif %}
    <div class="hidden">
        <form method="post" action="{{ path_for('warehouse', {'uuid':warehouse.uuid, 'view':'reduced'}) }}" id="formReadyForPickup">
            {% for item in mainQueue if (item.alert or item.stuck) %}
                <input type="hidden" name="readyForPickup[{{ item.uuid }}]" value="{{ item.uuid }}">
            {% endfor %}
            {% for item in extraQueue if (item.alert or item.stuck) %}
                <input type="hidden" name="readyForPickup[{{ item.uuid }}]" value="{{ item.uuid }}">
            {% endfor %}
        </form>
    </div>
    <div class="row">
        <div class="col-8">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>Документ</th>
                        <th>Статус</th>
                        <th class="text-right">Минуты</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in mainQueue %}
                    {% if item.alert %}
                        <tr class="bg-danger {{ item.alert ? 'itemAlert' : '' }}">
                    {% elseif item.stuck %}
                        <tr class="bg-danger">
                    {% elseif item.status == 'new' %}
                        <tr class="bg-primary">
                    {% elseif item.status == 'readyForPickup' %}
                        <tr class="green">
                    {% else %}
                    <tr class="">
                    {% endif %}
                        <td class="text-right itemCaption">{{ item.caption }}</td>
                        <td class="itemStatus">{{ item.translated }}</td>
                        <td class="text-right">{{ item.minutesPassed }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
        {% if extraQueue %}
        <div class="col-3 extraQueue">
            <table class="table  table-dark">
                {#<thead>#}
                {#<tr>#}
                    {#<th class="text-right">Новые заказы</th>#}
                {#</tr>#}
                {#</thead>#}
                <tbody>
                {% for item in extraQueue %}
                    {% if item.alert %}
                    <tr class="bg-danger {{ item.alert ? 'itemAlert' : '' }}">
                    {% elseif item.stuck %}
                        <tr class="bg-danger">
                    {% elseif item.status == 'new' %}
                        <tr class="bg-primary">
                    {% else %}
                        <tr class="">
                    {% endif %}
                        <td class="text-right itemCaption">{{ item.caption }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% if view != 'reduced' %}
</div>

<audio id="successSound" src="/353206__rhodesmas__intro-01.wav" type="audio/wav"></audio>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(function(){
        var $mainContainer = $('#container-main');
        var lastResponse = '';
        var reloadMainContainer = function () {
            var $form = $('#formReadyForPickup');

            var jqxhr = $.post($mainContainer.data('src'), $form.serialize(), function(response) {
                if (response !== lastResponse) {
                    $mainContainer.html(response);
                    if (lastResponse && ($('.itemAlert').length > 0))  {
                        $('#successSound').get(0).play();
                    }
                    lastResponse = response;
                }
            }, 'html');
            jqxhr.fail(function(){
                window.location.reload();
            });
        };

        var toggleAlerts = function () {
            $('.itemAlert').toggleClass('alertOn');
        };

        setInterval(function () {
            reloadMainContainer()
        }, 5000);

        setInterval(function () {
            toggleAlerts();
        }, 800);

    });
</script>
</body>
</html>
{% endif %}
